Repository dchbx/enroll, pull requests merged in 2018-10, with the labels that each got.

#2363 32899: Cover All- Local Residency is being set to "Unverified" state during first time resident to IVL transition
  app/controllers/exchanges/hbx_profiles_controller.rb
  app/models/consumer_role.rb
  spec/controllers/exchanges/hbx_profiles_controller_spec.rb
  spec/models/consumer_role_spec.rb
Labels: Mergeable: Yes, Priority: Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2329 29682: Admin Ability to Update Username/Email-When Admin submits a username/email update, popup will appear to ensure Admin would like the change
  app/views/users/_email_form.html.erb
  app/views/users/_username_form.html.erb
Labels: Mergeable: Yes, Priority: High, Status: Accepted Pending Release, Tracker: App-Dev_User Story

#2339 29685: Admin Ability to Update Username/Email-Admin tries to give user credentials that are already in use
  app/controllers/users_controller.rb
  app/models/effective/datatables/user_account_datatable.rb
  app/views/users/_email_form.html.erb
  app/views/users/_username_email_form.html.erb
  app/views/users/_username_email_result.html.erb
  app/views/users/_username_form.html.erb
  app/views/users/change_email.js.erb
  app/views/users/change_username.js.erb
  app/views/users/change_username_and_email.js.erb
  app/views/users/username_email_result.js.erb
  config/routes.rb
  features/admin/update_username_email.feature
  features/step_definitions/integration_steps.rb
  features/step_definitions/update_username_email_steps.rb
  spec/controllers/users_controller_spec.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Accepted Pending Release, Tracker: App-Dev_User Story

#2333 29674: Admin Ability to Update Username/Email- Admin Permissions
  app/data_migrations/define_permissions.rb
  app/models/permission.rb
  app/policies/hbx_profile_policy.rb
  app/views/exchanges/hbx_profiles/shared/_primary_nav.html.erb
  lib/tasks/define_permissions.rake
  spec/data_migrations/permissions_spec.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Accepted Pending Release, Tracker: App-Dev_Feature

#2335 29678: Admin Ability to Update Username/Email-When Admin selects “Edit User” on “Actions” dropdown of user in “Account Updates” table, “Edit User Credentials” table appears
  app/views/users/_username_and_email_form.html.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Accepted Pending Release, Tracker: App-Dev_User Story

#2366 31565: RIDP- Update Landing page so that ID Verified=My Account page bookmark
  app/controllers/application_controller.rb
  app/controllers/insured/interactive_identity_verifications_controller.rb
  features/insured/individual_ridp_verification.feature
  spec/controllers/insured/interactive_identity_verifications_controller_spec.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#2157 23778: EA generating $0 dependent premiums for ER offering no dependent dental coverage
  app/controllers/insured/group_selection_controller.rb
  app/models/hbx_enrollment_member.rb
  spec/controllers/insured/group_selection_controller_spec.rb
  spec/models/hbx_enrollment_member_spec.rb
Labels: Mergeable: No, Priority: Urgent, Status: Pending Deployment, Tracker: Bug

#2365 31338: Unable to Link EE to Roster - General Services, Inc.
  app/data_migrations/update_census_employee_id.rb
  lib/tasks/update_census_employee_id.rake
  spec/data_migrations/app/update_census_employee_id_spec.rb
Labels: Priority: Urgent, Status: Pending Deployment, Tracker: Critical Data

#2291 27548: RIDP- Admin Ability to View Application and Identity Documents After Consumer is Verified- Rake Task Creation
  lib/tasks/download_ridp_documents.rake
Labels: Assignee: Sarah Bagge, Mergeable: Yes, Priority: Normal, Status: Stakeholder Review, Tracker: App-Dev_Feature

#2394 36415: Shop EE receives Coverall DC Marketplace
  app/data_migrations/remove_resident_role_for_dual_role_case.rb
  app/models/individual_market_transition.rb
  lib/tasks/migrations/remove_resident_role_for_dual_role_case.rake
  spec/data_migrations/remove_resident_role_for_dual_role_case_spec.rb
Labels: Mergeable: Yes, Priority: Immediate, Status: Accepted Pending Release, Tracker: Data

#2380 33198: Pay Now Kaiser- Hide Pay Now UI until Kaiser has finished their development
  app/helpers/insured/plan_shopping/receipt_helper.rb
  spec/helpers/insured/plan_shopping/receipt_helper_spec.rb
Labels: Priority: Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2397 36489: Unable to plan shop with SEP: HBX - 19963027
  app/data_migrations/build_ivl_market_transition_for_missing_consumer.rb
  lib/tasks/migrations/build_ivl_market_transition_for_missing_consumer.rake
  spec/data_migrations/build_ivl_market_transition_for_missing_consumer_spec.rb
Labels: Priority: Urgent, Status: Accepted Pending Release, Tracker: Hot Fix
