Repository dchbx/enroll, pull requests merged in 2019-06, with the labels that each got.

#2788 42253
  app/javascript/controllers/signup_controller.js
  app/javascript/css/application.scss
  app/javascript/css/forms.scss
  app/javascript/css/tooltips.scss
  app/views/devise/registrations/new.html.slim
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: BA Review, Tracker: App-Dev_Use Case

#2793 42344
  app/helpers/employers/employer_helper.rb
  components/sponsored_benefits/app/assets/javascripts/sponsored_benefits/plan_design_proposals.js
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2753 42022
  script/fix_smashed_ga_broker_accounts.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Accepted Pending Release, Tracker: Data

#2796 42436
  app/views/insured/families/_enrollment.html.erb
  spec/views/insured/families/_enrollment.html.erb_spec.rb
Labels: Priority: 1-Immediate, Status: Pending Deployment, Tracker: Bug

#2791 42359
  app/controllers/insured/consumer_roles_controller.rb
  app/controllers/insured/family_members_controller.rb
  app/interactors/handle_coverage_selected.rb
  app/models/consumer_role.rb
  app/models/family_member.rb
  app/models/hbx_enrollment.rb
  app/models/hbx_enrollment_member.rb
  app/models/person.rb
  spec/controllers/insured/consumer_roles_controller_spec.rb
  spec/interactors/handle_coverage_selected_spec.rb
  spec/models/consumer_role_spec.rb
  spec/models/family_member_spec.rb
  spec/models/hbx_enrollment_member_spec.rb
  spec/models/hbx_enrollment_spec.rb
  spec/models/person_spec.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2808 42420
  app/models/financial_assistance/factories/application_factory.rb
  spec/models/financial_assistance/factories/application_factory_spec.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#2807 42521
  components/notifier/app/models/notifier/builders/employer_profile.rb
  spec/models/model_events/generate_initial_employer_invoice_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Accepted Pending Release, Tracker: Support

#2812 42336
  app/views/insured/family_members/_dependent.html.erb
  app/views/insured/family_members/_dependent_coverall.html.erb
  app/views/insured/family_members/_resident_dependent.html.erb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2817 42510
  app/helpers/application_helper.rb
  app/models/services/checkbook_services/plan_comparision.rb
  app/views/insured/family_members/_dependent.html.erb
  app/views/insured/family_members/_dependent_coverall.html.erb
  app/views/insured/family_members/_resident_dependent.html.erb
  app/views/ui-components/v1/filters/_plan_filters.html.slim
  config/deploy.rb
  spec/helpers/application_helper_spec.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2818 42553
  app/controllers/exchanges/hbx_profiles_controller.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2819 42542
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/broker_agencies/broker_agency_profiles/_general_agencies.html.erb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2814 42538
  app/data_migrations/change_hbx_id.rb
  lib/tasks/migrations/change_hbx_id.rake
  spec/data_migrations/change_hbx_id_spec.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Accepted Pending Release, Tracker: Bug

#2831 42282
  app/views/insured/families/_family.html.erb
  app/views/insured/families/_qle_detail.html.erb
  app/views/insured/families/_qle_detail_for_existing_sep.erb
  app/views/insured/families/coverall/_family.html.erb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2829 42554
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_sponsorships/benefit_sponsorship.rb
  components/benefit_sponsors/app/models/benefit_sponsors/organizations/broker_agency_profile.rb
  components/benefit_sponsors/spec/models/benefit_sponsors/model_events/default_general_agency_fired_notice_spec.rb
  components/sponsored_benefits/app/models/sponsored_benefits/accounts/general_agency_account.rb
  components/sponsored_benefits/app/models/sponsored_benefits/services/general_agency_manager.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2827 42493
  app/models/person.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2837 42195
  app/assets/stylesheets/financial_assistance.scss.erb
  app/views/financial_assistance/applications/help_paying_coverage.html.erb
Labels: Mergeable: Yes, Priority: 5-Low, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#2840 42618
  app/mailers/user_mailer.rb
  app/views/user_mailer/broker_application_confirmation.html.erb
  app/views/user_mailer/broker_invitation_email.html.erb
  config/settings.yml
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2822 42546
  script/update_broker_employer_relationship.rb
Labels: Priority: 1-Immediate, Status: Pending Deployment, Tracker: Bug

#2844 42605
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/registrations/_general_agency_form.html.erb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2799 42457
  config/locales/devise.en.yml
  features/general_agencies/step_definitions/ga_steps.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Returned for Deficiency, Tracker: App-Dev_Use Case

#2847 42324
  app/assets/javascripts/ui-components/validators.js
  app/views/ui-components/v1/forms/employer_registration/_staff_role_information.html.slim
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: In Progress, Tracker: App-Dev_Use Case

#2846 42601
  app/controllers/insured/group_selection_controller.rb
  app/helpers/insured/group_selection_helper.rb
  spec/helpers/insured/group_selection_helper_spec.rb
Labels: Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2853 42361
  app/views/shared/_census_dependent_fields.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2857 42619
  app/views/employers/employer_profiles/my_account/_employer_welcome.html.slim
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/_employer_welcome.html.slim
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/_old_employer_welcome.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2851 42411
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/employers/employer_profiles_controller.rb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/_families.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2862 42272
  app/javascript/controllers/signup_controller.js
  app/javascript/packs/application.js
  app/views/devise/registrations/new.html.slim
  package.json
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2863 42477
  app/javascript/css/alerts.scss
  app/javascript/css/application.scss
  app/views/layouts/_flash.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2864 42672
  app/javascript/css/alerts.scss
  app/javascript/css/main.scss
  app/views/welcome/index.html.slim
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#2858 42429
  app/views/exchanges/hbx_profiles/add_sep_form.js.erb
Labels: Assignee: Vishal Kalletla, Mergeable: Yes, Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#2866 42753
  app/views/employers/census_employees/_form.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2868 42723
  app/views/insured/families/_family.html.erb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2871 42662
  components/benefit_sponsors/app/models/benefit_sponsors/concerns/employer_datatable_concern.rb
  config/settings.yml
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#2867 42725
  app/controllers/insured/group_selection_controller.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2872 42527
  app/data_migrations/define_permissions.rb
  app/models/permission.rb
  app/policies/hbx_profile_policy.rb
  app/views/ui-components/v1/navs/_primary_nav.html.slim
  features/support/worlds/permissions_world.rb
  lib/tasks/define_permissions.rake
  spec/data_migrations/permissions_spec.rb
Labels: Assignee: Vishal Kalletla, Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2875 42508
  app/views/exchanges/hbx_profiles/_family_index_datatable.html.erb
Labels: Assignee: Vishal Kalletla, Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#2874 42483
  app/views/exchanges/hbx_profiles/shared/_nav_link.html.erb
Labels: Assignee: Vishal Kalletla, Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2880 42344
  components/sponsored_benefits/app/assets/javascripts/sponsored_benefits/plan_design_proposals.js
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/_form.html.erb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2877 42561
  app/models/consumer_role.rb
  spec/models/consumer_role_spec.rb
Labels: Assignee: Vishal Kalletla, Mergeable: Yes, Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2879 42590
  components/benefit_sponsors/app/views/benefit_sponsors/benefit_applications/benefit_applications/shared/_benefit_application_fields.html.slim
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2884 42276
  components/benefit_sponsors/app/models/benefit_sponsors/organizations/organization.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2890 42830
  app/mailers/user_mailer.rb
  components/benefit_sponsors/app/models/benefit_sponsors/observers/notice_observer.rb
  components/notifier/app/models/notifier/builders/employer_profile.rb
  components/notifier/app/models/notifier/notice_builder.rb
  components/notifier/app/views/layouts/notifier/_dc_cover_page.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Feature
