Repository dchbx/enroll, pull requests merged in 2019-07, with the labels that each got.

#2898 42278
  components/benefit_sponsors/app/views/benefit_sponsors/benefit_applications/benefit_applications/shared/_benefit_application_fields.html.slim
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2895 42892
  components/benefit_sponsors/app/models/benefit_sponsors/concerns/employer_profile_concern.rb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/_sponsored_benefit.html.erb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#2860 42645
  components/benefit_sponsors/app/models/effective/datatables/benefit_sponsors_employer_datatable.rb
  components/benefit_sponsors/app/views/benefit_sponsors/benefit_applications/benefit_applications/edit.html.slim
Labels: Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2894 42867
  app/views/general_agencies/profiles/_menu.html.erb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2901 42880
  app/views/ui-components/v1/cards/_benefit_groups.html.slim
  components/benefit_sponsors/app/models/effective/datatables/benefit_sponsors_coverage_reports_data_table.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2904 42890
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/_sponsored_benefit.html.erb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2900 42802
  app/controllers/users/passwords_controller.rb
Labels: Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2914 42502
  components/benefit_sponsors/app/models/benefit_sponsors/serializers/profile_serializer.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2906 42919
  app/models/group_selection_prevarication_adapter.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2916 42807
  app/views/insured/plan_shoppings/show.html.slim
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2909 42879
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/employers/employer_profiles_controller.rb
  components/benefit_sponsors/app/models/benefit_sponsors/serializers/organization_serializer.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2918 42891
  app/models/queries/employee_datatable_query.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2926 42932
  app/views/layouts/application.html.erb
  app/views/shared/inboxes/_individual_message.html.erb
  components/benefit_sponsors/app/views/benefit_sponsors/shared/inboxes/_individual_message.html.erb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2921 42644
  app/helpers/config/aca_helper.rb
  components/benefit_sponsors/app/views/benefit_sponsors/sponsored_benefits/sponsored_benefits/_sponsored_benefit.html.slim
  components/sponsored_benefits/spec/dummy/app/helpers/config/aca_helper.rb
  config/settings.yml
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2927 42929
  Gemfile
  Gemfile.lock
  app/models/caches/plan_details.rb
  components/benefit_sponsors/spec/dummy/spec/factories/sponsored_benefits_organizations_plan_design_organizations.rb
  components/sponsored_benefits/app/assets/javascripts/sponsored_benefits/plan_design_proposals.js
  components/sponsored_benefits/app/assets/stylesheets/sponsored_benefits/plan_design_proposal.scss
  components/sponsored_benefits/app/controllers/sponsored_benefits/census_members/plan_design_census_employees_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals/contributions_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals/plan_comparisons_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals/plan_exports_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals/plan_reviews_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals_controller.rb
  components/sponsored_benefits/app/models/sponsored_benefits/benefit_applications/benefit_group.rb
  components/sponsored_benefits/app/models/sponsored_benefits/forms/plan_design_proposal.rb
  components/sponsored_benefits/app/models/sponsored_benefits/services/plan_cost_service.rb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/_form.html.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/carriers/_carriers_list.html.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/contributions/_relationship_benefit_fields.html.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/plan_exports/_plan_details.html.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/plan_reviews/_new.html.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/plan_selections/_carrier_options.html.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/plan_selections/_plan_selection_form.html.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/shared/_pdp_plan_details.html.erb
  components/sponsored_benefits/spec/controllers/sponsored_benefits/organizations/plan_design_proposals/contributions_controller_spec.rb
  components/sponsored_benefits/spec/dummy/app/helpers/application_helper.rb
  components/sponsored_benefits/spec/dummy/app/models/benefit_group.rb
  components/sponsored_benefits/spec/dummy/app/models/benefit_sponsors/organizations/broker_agency_profile.rb
  components/sponsored_benefits/spec/dummy/app/models/benefit_sponsors/organizations/profile.rb
  components/sponsored_benefits/spec/dummy/app/models/caches/plan_details.rb
  components/sponsored_benefits/spec/dummy/app/models/carrier_profile.rb
  components/sponsored_benefits/spec/dummy/app/models/plan.rb
  components/sponsored_benefits/spec/dummy/app/models/premium_table.rb
  components/sponsored_benefits/spec/dummy/app/models/relationship_benefit.rb
  components/sponsored_benefits/spec/dummy/app/views/shared/plan_shoppings/_sbc_link.html.erb
  components/sponsored_benefits/spec/dummy/config/settings.yml
  components/sponsored_benefits/spec/factories/sponsored_benefits_benefit_applications_benefit_groups.rb
  components/sponsored_benefits/spec/factories/sponsored_benefits_census_members_plan_design_census_employees.rb
  components/sponsored_benefits/spec/factories/sponsored_benefits_organizations_plan_design_organizations.rb
  components/sponsored_benefits/spec/factories/sponsored_benefits_plan_design_benefit_applications.rb
  components/sponsored_benefits/spec/models/sponsored_benefits/services/plan_cost_service_spec.rb
  components/sponsored_benefits/sponsored_benefits.gemspec
  components/sponsored_benefits/test/integration/sponsored_benefits/benefit_sponsorships/plan_design_employer_profile_test.rb
  spec/factories/plans.rb
Labels: Mergeable: No, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2930 42968
  app/models/concerns/permissions_concern.rb
  app/models/person.rb
  app/models/user.rb
  components/benefit_sponsors/spec/dummy/app/models/user.rb
  components/sponsored_benefits/spec/dummy/app/models/user.rb
  spec/models/consumer_role_spec.rb
Labels: Assignee: Vishal Kalletla, Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2893 42836
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_applications/aca_shop_application_eligibility_policy.rb
  components/benefit_sponsors/app/models/benefit_sponsors/organizations/general_organization.rb
  components/benefit_sponsors/app/models/benefit_sponsors/organizations/organization.rb
  components/benefit_sponsors/app/models/benefit_sponsors/services/new_profile_registration_service.rb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/_employer_profile_fields.html.erb
  components/benefit_sponsors/app/views/benefit_sponsors/shared/_employer_profile_fields.html.erb
  components/benefit_sponsors/spec/models/benefit_sponsors/benefit_applications/benefit_application_enrollment_service_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2878 42342
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/employers/employer_profiles_controller.rb
  components/benefit_sponsors/app/models/benefit_sponsors/services/roster_upload_service.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2933 43001
  app/models/subscribers/default_ga_changed.rb
  components/sponsored_benefits/app/models/sponsored_benefits/services/general_agency_manager.rb
  spec/models/subscribers/default_ga_changed_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2940 42993
  app/models/person.rb
  spec/models/person_spec.rb
Labels: Assignee: Vishal Kalletla, Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2931 42720
  app/models/census_employee.rb
  app/views/employers/census_employees/show.html.erb
  spec/models/census_employee_spec.rb
Labels: Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2936 42737
  config/settings.yml
Labels: Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2907 42907
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_sponsorships/benefit_sponsorship.rb
  lib/tasks/export_employers.rake
  lib/tasks/hbx_reports/brokers_with_URL_from_admin_approval.rake
  lib/tasks/hbx_reports/employer_plan_year_status.rake
  script/broker_assignment_report.rb
  script/qle_new_hire_report.rb
Labels: Mergeable: No, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#2951 42342
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/employers/employer_profiles_controller.rb
  components/benefit_sponsors/app/models/benefit_sponsors/forms/census_record_form.rb
  components/benefit_sponsors/app/models/benefit_sponsors/services/roster_upload_service.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2955 43057
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/broker_agency_profiles/_employers.html.erb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2962 43010
  components/sponsored_benefits/app/assets/javascripts/sponsored_benefits/plan_design_proposals.js
  components/sponsored_benefits/app/assets/stylesheets/sponsored_benefits/plan_design_proposal.scss
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/contributions/_relationship_benefit_fields.html.erb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2963 42797
  app/javascript/controllers/signup_controller.js
  app/views/devise/registrations/new.html.slim
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2965 42790
  app/views/shared/brokers/_broker_fields.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2966 43106
  components/sponsored_benefits/app/assets/stylesheets/sponsored_benefits/application.scss
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/contributions/_relationship_benefit_fields.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2970 42817
  app/views/ui-components/v1/navs/_header.html.slim
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#2968 43073
  components/sponsored_benefits/app/assets/javascripts/sponsored_benefits/plan_design_proposals.js
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals/contributions_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals/plan_exports_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals/plan_reviews_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals_controller.rb
  components/sponsored_benefits/app/models/sponsored_benefits/benefit_applications/benefit_group.rb
  components/sponsored_benefits/app/models/sponsored_benefits/services/plan_cost_service.rb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/contributions/index.js.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/plan_exports/_plan_details.html.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/plan_reviews/_new.html.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/shared/_benefit_group_cost_summary.html.erb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/shared/_employee_costs.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#2928 42480
  app/views/ui-components/v1/cards/_employee_enrollments.html.slim
  app/views/ui-components/v1/navs/_employers_navigation.html.slim
  components/benefit_sponsors/app/models/effective/datatables/benefit_sponsors_employer_datatable.rb
Labels: Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#2971 43051
  app/controllers/insured/families_controller.rb
  app/controllers/insured/group_selection_controller.rb
  app/controllers/insured/plan_shoppings_controller.rb
  app/helpers/insured/group_selection_helper.rb
  app/models/group_selection_prevarication_adapter.rb
  app/views/insured/group_selection/new.html.erb
  app/views/insured/plan_shoppings/show.html.slim
  app/views/shared/_qle_progress.html.haml
  app/views/shared/_sep_shop_for_plans_progress.html.haml
  app/views/shared/plan_shoppings/_more_plan_details.html.erb
  app/views/ui-components/v1/cards/_plan_details.html.slim
  app/views/ui-components/v1/filters/_plan_filters.html.slim
  components/benefit_markets/app/models/benefit_markets/products/product.rb
  spec/views/insured/group_selection/new.html.erb_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2942 43040
  components/benefit_sponsors/app/policies/benefit_sponsors/organizations/broker_agency_profile_policy.rb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/broker_agencies/broker_agency_profiles/_general_agencies.html.erb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#2957 43070
  app/models/services/checkbook_services/plan_comparision.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#2804 42333
  script/orphan_user_account_list.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Accepted Pending Release, Tracker: Support

#2967 43125
  app/models/subscribers/nfp_statement_history.rb
  app/models/wells_fargo/bill_pay/single_sign_on.rb
  app/views/ui-components/v1/navs/_employers_navigation.html.slim
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/employers/employer_profiles_controller.rb
  components/benefit_sponsors/app/helpers/benefit_sponsors/application_helper.rb
  components/benefit_sponsors/app/helpers/benefit_sponsors/employers/employer_helper.rb
  components/benefit_sponsors/app/helpers/benefit_sponsors/employers/payment_history_helper.rb
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_sponsorships/benefit_sponsorship.rb
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_sponsorships/benefit_sponsorship_account.rb
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_sponsorships/bill_file.rb
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_sponsorships/current_statement_activity.rb
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_sponsorships/financial_transaction.rb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/_primary_nav.html.erb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/accounts/_accounts.html.erb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/accounts/_current_activity.html.erb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/accounts/_pay_my_bill.html.erb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/accounts/_pay_online_confirmation_modal.html.erb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/accounts/_payment_history.html.erb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/accounts/_statements.html.erb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/accounts/payment_history.js.erb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/show.html.erb
  components/benefit_sponsors/config/routes.rb
  components/benefit_sponsors/spec/controllers/benefit_sponsors/profiles/employers/employer_profiles_controller_spec.rb
  components/benefit_sponsors/spec/dummy/app/models/wells_fargo/bill_pay/single_sign_on.rb
  components/benefit_sponsors/spec/dummy/config/environments/development.rb
  components/benefit_sponsors/spec/dummy/config/environments/test.rb
  components/benefit_sponsors/spec/dummy/config/settings.yml
  components/benefit_sponsors/spec/factories/benefit_sponsors_benefit_sponsorships_benefit_sponsorship_accounts.rb
  components/benefit_sponsors/spec/factories/benefit_sponsors_benefit_sponsorships_current_statement_activities.rb
  components/benefit_sponsors/spec/factories/benefit_sponsors_benefit_sponsorships_financial_transaction.rb
  components/benefit_sponsors/spec/models/benefit_sponsors/benefit_applications/benefit_application_enrollment_service_spec.rb
  config/application.rb
  config/deploy.rb
  config/environments/development.rb
  config/environments/test.rb
  config/settings.yml
  features/employers/employer_billing_tab.feature
  features/step_definitions/employers_steps.rb
  features/support/worlds/employer_world.rb
  lib/tasks/billfile_export.rake
  lib/tasks/nfp_current_statement_request.rake
  spec/models/subscribers/nfp_statement_history_spec.rb
Labels: Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#2977 42272
  app/javascript/controllers/signup_controller.js
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2978 43106
  components/sponsored_benefits/app/assets/javascripts/sponsored_benefits/plan_design_proposals.js
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/contributions/_relationship_benefit_fields.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2979 42361
  app/views/shared/_census_dependent_fields.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#2983 41696
  app/assets/javascripts/qle.js.erb
  app/views/insured/families/_effective_on_kind_fields.html.erb
  app/views/insured/families/_qle_detail.html.erb
  features/admin/admin_sep_selection.feature
  features/insured/individual_sep_signup.feature
Labels: Assignee: Vishal Kalletla, Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2990 42524
  app/views/ui-components/v1/navs/_primary_nav.html.slim
Labels: Assignee: Vishal Kalletla, Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2975 41575
  app/controllers/employers/census_employees_controller.rb
  app/controllers/exchanges/hbx_profiles_controller.rb
  app/controllers/insured/employee_roles_controller.rb
  app/models/census_employee.rb
  app/models/census_employee_import.rb
  app/models/employee_role.rb
  app/models/factories/employment_relationship_factory.rb
  app/models/factories/enrollment_factory.rb
  app/models/forms/employee_candidate.rb
  app/models/forms/employment_relationship.rb
  app/views/employers/census_employees/_member_fields.html.erb
  app/views/insured/employee_roles/_employment_relationships.html.haml
  app/views/shared/person/_personal_information.html.erb
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_sponsorships/benefit_sponsorship.rb
  components/benefit_sponsors/app/models/benefit_sponsors/organizations/aca_shop_dc_employer_profile.rb
  components/benefit_sponsors/app/models/effective/datatables/benefit_sponsors_employer_datatable.rb
  config/routes.rb
  lib/tasks/hbx_reports/employers_with_ssn_validation_disabled.rake
  spec/controllers/exchanges/hbx_profiles_controller_spec.rb
  spec/models/census_employee_import_spec.rb
  spec/models/employee_role_spec.rb
  spec/models/forms/employee_candidate_spec.rb
  spec/views/shared/person/_personal_information.html.erb_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: In Progress, Tracker: App-Dev_Feature

#2972 43136
  script/force_publish_benefit_applications.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Assigned, Tracker: App-Dev_Feature

#2985 43153
  app/policies/census_employee_policy.rb
  spec/policies/census_employee_policy_spec.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#2997 43210
  app/models/hbx_enrollment.rb
  spec/models/hbx_enrollment_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#2953 42644
  components/benefit_sponsors/app/views/benefit_sponsors/sponsored_benefits/sponsored_benefits/_sponsored_benefit.html.slim
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2929 42953
  app/views/employers/employer_profiles/my_account/accounts/_pay_my_bill.html.erb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Pending Deployment, Tracker: Support

#2989 42430
  app/javascript/benefit_sponsors/controllers/zip_check_controller.js
  components/benefit_sponsors/app/models/benefit_sponsors/organizations/factories/profile_factory.rb
Labels: Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#3005 43241
  script/congressional_report.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3001 42443
  app/assets/javascripts/demographics_fields.js
  features/insured/individual_signup.feature
  features/step_definitions/individual_steps.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3013 43267
  app/views/exchanges/hbx_profiles/shared/_primary_nav.html.erb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#3014 42800
  app/views/insured/families/_enrollment.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#2986 43221
  script/update_broker_employer_relationship.rb
  spec/script/update_broker_employer_relationship_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#2987 43220
  app/models/benefit_group.rb
  app/models/plan.rb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/carriers/_carriers_list.html.erb
  spec/models/benefit_group_spec.rb
  spec/views/shared/edit_reference_plans_list.html.erb_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#2992 43216
  app/models/census_employee.rb
  spec/models/census_employee_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3008 43261
  lib/tasks/hbx_reports/backlog_notice_report.rake
  script/ivl_renewal_notices.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3006 43258
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/my_account/accounts/_pay_my_bill.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3010 43260
  app/views/insured/group_selection/new.html.erb
  components/benefit_markets/app/models/benefit_markets/products/product.rb
  spec/helpers/insured/group_selection_helper_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3026 43041
  db/seedfiles/translations/en/insured.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3027 42745
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/registrations_controller.rb
  db/seedfiles/translations/en/insured.rb
Labels: Mergeable: Yes, Priority: 5-Low, Status: Peer Review, Tracker: App-Dev_Use Case

#3028 43207
  app/views/users/_username_email_form.html.erb
  app/views/users/_username_email_result.html.erb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3029 43044
  vendor/assets/stylesheets/bootstrap.css.erb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3030 42784
  app/javascript/css/alerts.scss
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3032 42478
  app/assets/stylesheets/_variables.scss.erb
  app/controllers/exchanges/broker_applicants_controller.rb
  app/controllers/exchanges/hbx_profiles_controller.rb
  app/controllers/exchanges/scheduled_events_controller.rb
  app/controllers/users/orphans_controller.rb
  app/views/exchanges/hbx_profiles/_broker_agency_index_datatable.html.slim
  app/views/exchanges/hbx_profiles/_configuration_index.html.erb
  app/views/exchanges/hbx_profiles/_identity_verification_datatable.html.erb
  app/views/exchanges/hbx_profiles/_invoice.html.slim
  app/views/exchanges/hbx_profiles/_issuer_index.html.slim
  app/views/exchanges/hbx_profiles/_product_index.html.slim
  app/views/exchanges/hbx_profiles/_staff.html.erb
  app/views/exchanges/hbx_profiles/broker_agency_index_datatable.html.slim
  app/views/exchanges/hbx_profiles/configuration_index.html.erb
  app/views/exchanges/hbx_profiles/employer_dt.html.erb
  app/views/exchanges/hbx_profiles/family_index_datatable.html.erb
  app/views/exchanges/hbx_profiles/general_agency_index.html.slim
  app/views/exchanges/hbx_profiles/identity_verification_datatable.html.erb
  app/views/exchanges/hbx_profiles/inbox_messages.html.slim
  app/views/exchanges/hbx_profiles/invoice.html.slim
  app/views/exchanges/hbx_profiles/issuer_index.html.slim
  app/views/exchanges/hbx_profiles/outstanding_verification_datatable.html.erb
  app/views/exchanges/hbx_profiles/product_index.html.slim
  app/views/exchanges/hbx_profiles/staff.html.erb
  app/views/exchanges/hbx_profiles/user_account_index_datatable.html.slim
  app/views/exchanges/scheduled_events/index.html.erb
  app/views/shared/brokers/_applicant_row.html.erb
  app/views/shared/brokers/_broker_fields.html.erb
  app/views/shared/brokers/applicant.html.erb
  app/views/shared/brokers/applicants.html.slim
  app/views/shared/brokers/applicants.index.slim
  app/views/ui-components/v1/navs/_primary_nav.html.slim
  app/views/users/orphans/_index.html.erb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3018 43243
  app/reports/outstanding_types_report.rb
  lib/tasks/verification_reports/outstanding_verifications_created.rake
  lib/tasks/verification_reports/verified_verification_reports.rake
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3012 43271
  app/helpers/employers/employer_helper.rb
  spec/helpers/employers/employer_helper_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3011 43266
  app/data_migrations/fix_special_enrollment_period.rb
  app/models/special_enrollment_period.rb
  lib/tasks/fix_special_enrollment_period.rake
  spec/data_migrations/fix_special_enrollment_period_spec.rb
  spec/models/special_enrollment_period_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3042 43260
  app/views/insured/group_selection/new.html.erb
  components/benefit_markets/app/models/benefit_markets/products/product.rb
  spec/helpers/insured/group_selection_helper_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3035 43283
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/benefit_applications/_claim_quote_modal.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#3002 43288
  app/models/queries/named_enrollment_queries.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3048 43020
  app/views/ui-components/v1/cards/_dental_sponsor_contributions.html.slim
  app/views/ui-components/v1/cards/_reference_plan.html.slim
  components/benefit_sponsors/app/models/benefit_sponsors/forms/sponsored_benefit_form.rb
  components/benefit_sponsors/app/models/benefit_sponsors/services/sponsored_benefit_service.rb
  components/benefit_sponsors/app/views/benefit_sponsors/sponsored_benefits/sponsored_benefits/_sponsored_benefit.html.slim
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3019 43220
  app/models/benefit_group.rb
  app/models/plan.rb
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/plan_design_proposals/carriers/_carriers_list.html.erb
  spec/models/benefit_group_spec.rb
  spec/views/shared/edit_reference_plans_list.html.erb_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3020 43261
  lib/tasks/hbx_reports/backlog_notice_report.rake
  script/ivl_renewal_notices.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3047 42572
  app/controllers/exchanges/employer_applications_controller.rb
  app/helpers/config/aca_helper.rb
  app/models/concerns/config/aca_model_concern.rb
  app/views/exchanges/employer_applications/_index.html.erb
  app/views/exchanges/employer_applications/index.js.erb
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_applications/benefit_application_enrollment_service.rb
  components/benefit_sponsors/spec/dummy/app/helpers/config/aca_helper.rb
  components/benefit_sponsors/spec/dummy/app/models/concerns/config/aca_model_concern.rb
  components/benefit_sponsors/spec/dummy/config/settings.yml
  config/settings.yml
  features/employers/benefit_applications/admin_terminating_benefit_application_steps.rb
  features/employers/benefit_applications/terminated/admin_terminating_benefit_application.feature
  features/support/worlds/user_world.rb
  lib/tasks/billfile_export.rake
  spec/views/exchanges/employer_applications/_index.html.erb_spec.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#3022 43268
  script/orphan_user_account_list.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#3023 43269
  app/notices/ivl_notices/ivl_backlog_verification_notice_uqhp.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#2980 42816
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/employers/employer_profiles_controller.rb
  components/benefit_sponsors/app/models/benefit_sponsors/forms/census_record_form.rb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/_upload_employee_roster.html.erb
  components/benefit_sponsors/spec/controllers/benefit_sponsors/profiles/employers/employer_profiles_controller_spec.rb
  components/benefit_sponsors/spec/dummy/app/models/census_employee.rb
  components/benefit_sponsors/spec/dummy/app/models/census_member.rb
  components/benefit_sponsors/spec/dummy/spec/test_data/census_employee_import/DCHL Employee Census.xlsx
  components/benefit_sponsors/spec/dummy/spec/test_data/individual_person_payloads/individual.xml
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3037 42994
  components/notifier/app/assets/javascripts/notifier/ckeditor/config.js.erb
  components/notifier/app/assets/javascripts/notifier/ckeditor/contents.css
  components/notifier/app/assets/javascripts/notifier/ckeditor/fonts/FontAwesome.otf
  components/notifier/app/assets/javascripts/notifier/ckeditor/fonts/fontawesome-webfont.eot
  components/notifier/app/assets/javascripts/notifier/ckeditor/fonts/fontawesome-webfont.svg
  components/notifier/app/assets/javascripts/notifier/ckeditor/fonts/fontawesome-webfont.ttf
  components/notifier/app/assets/javascripts/notifier/ckeditor/fonts/fontawesome-webfont.woff
  components/notifier/app/assets/javascripts/notifier/ckeditor/fonts/fontawesome-webfont.woff2
  components/notifier/app/assets/javascripts/notifier/ckeditor/fonts/index.html
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/dialogs/fontawesome.js
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/dialogs/index.html
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/font-awesome/css/font-awesome.min.css
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/font-awesome/css/index.html
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/font-awesome/fonts/FontAwesome.otf
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/font-awesome/fonts/fontawesome-webfont.eot
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/font-awesome/fonts/fontawesome-webfont.svg
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/font-awesome/fonts/fontawesome-webfont.ttf
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/font-awesome/fonts/fontawesome-webfont.woff
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/font-awesome/fonts/fontawesome-webfont.woff2
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/font-awesome/fonts/index.html
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/font-awesome/index.html
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/icons/fontawesome.png
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/icons/index.html
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/index.html
  components/notifier/app/assets/javascripts/notifier/ckeditor/plugins/fontawesome/plugin.js
  components/notifier/app/controllers/notifier/notice_kinds_controller.rb
  components/notifier/app/views/layouts/notifier/application.html.erb
  components/notifier/app/views/notifier/notice_kinds/_form.html.erb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3045 41575
  app/controllers/employers/census_employees_controller.rb
  components/benefit_sponsors/app/models/benefit_sponsors/forms/census_record_form.rb
  components/benefit_sponsors/app/models/benefit_sponsors/services/roster_upload_service.rb
  spec/controllers/employers/census_employees_controller_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3054 43297
  app/controllers/employers/census_employees_controller.rb
  app/models/access_policies/employer_profile.rb
  app/policies/census_employee_policy.rb
  features/step_definitions/employers_steps.rb
  spec/controllers/employers/census_employees_controller_spec.rb
  spec/policies/census_employee_policy_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3062 43273
  app/assets/javascripts/ui-components/datepickerForInputs.js.erb
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/registrations_controller.rb
  components/benefit_sponsors/app/views/benefit_sponsors/shared/_person_staff_search.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3060 43331
  app/views/insured/families/_moving_fields.html.erb
  db/seedfiles/translations/en/insured.rb
Labels: Assignee: Vishal Kalletla, Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3063 43317
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/registrations_controller.rb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/_employer_form.html.erb
  features/general_agencies/step_definitions/ga_steps.rb
  features/step_definitions/brokers_steps.rb
  features/step_definitions/integration_steps.rb
  features/support/worlds/form_world.rb
Labels: Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3058 42279
  app/assets/stylesheets/new.scss.erb
  app/assets/stylesheets/ui-components/cards.scss
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3059 42437
  app/assets/javascripts/application.js.erb
Labels: Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3053 43296
  app/assets/javascripts/general_agency.js.erb
  app/controllers/exchanges/hbx_profiles_controller.rb
  app/views/exchanges/hbx_profiles/general_agency_index.html.slim
  app/views/exchanges/hbx_profiles/general_agency_index.js.erb
  app/views/general_agencies/profiles/_index.html.erb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Functional Testing, Tracker: App-Dev_Use Case

#3064 42980
  app/views/ui-components/v1/filters/_plan_filters.html.slim
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3061 43333
  app/views/user_mailer/renewal_invitation_email.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3067 42770
  components/sponsored_benefits/app/models/sponsored_benefits/benefit_applications/employer_profile_builder.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#3070 43236
  app/views/ui-components/v1/forms/office_locations/_old_style_address.html.erb
  app/views/ui-components/v1/forms/office_locations/_phone.html.slim
  features/support/worlds/form_world.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Functional Testing, Tracker: App-Dev_Feature

#3074 43351
  app/views/ui-components/v1/cards/_dental_sponsor_contributions.html.slim
  app/views/ui-components/v1/cards/_sponsor_contributions.html.slim
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3076 42980
  app/assets/javascripts/plan_shopping.js.erb
  app/views/shared/_signup_progress.html.haml
  spec/controllers/exchanges/hbx_profiles_controller_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3077 42604
  app/views/insured/plan_shoppings/receipt.en.html.erb
  app/views/insured/plan_shoppings/thankyou.html.erb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3078 42272
  app/javascript/css/main.scss
  app/views/layouts/bootstrap_4.html.erb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3079 43392
  vendor/assets/stylesheets/bootstrap.css.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3065 43314
  components/benefit_sponsors/app/models/benefit_sponsors/organizations/factories/profile_factory.rb
  components/benefit_sponsors/app/models/benefit_sponsors/organizations/organization_forms/registration_form.rb
  components/benefit_sponsors/spec/models/benefit_sponsors/organizations/organization_forms/registration_form_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#3071 43384
  app/models/census_employee.rb
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_packages/benefit_package.rb
  components/benefit_sponsors/spec/dummy/app/models/census_employee.rb
  spec/models/census_employee_spec.rb
Labels: Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Feature

#2984 43223
  spec/models/family_member_spec.rb
Labels: Priority: 3-High, Status: Assigned, Tracker: App-Dev_Feature

#3073 42661
  app/helpers/application_helper.rb
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_sponsorships/benefit_sponsorship.rb
  components/benefit_sponsors/app/models/effective/datatables/benefit_sponsors_employer_datatable.rb
  components/benefit_sponsors/spec/models/benefit_sponsors/benefit_sponsorships/benefit_sponsorship_spec.rb
Labels: Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3080 43393
  components/notifier/app/views/layouts/notifier/single_column.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3081 42797
  app/javascript/controllers/signup_controller.js
  app/views/devise/registrations/new.html.slim
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3082 43315
  app/views/exchanges/hbx_profiles/_assister_table.html.erb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: In Progress, Tracker: App-Dev_Use Case

#3084 43357
  app/helpers/insured/families_helper.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3088 43276
  app/assets/stylesheets/application.scss.erb
  app/views/layouts/_flash.html.erb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3089 43273
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/registrations/new.html.slim
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3090 43049
  config/routes.rb
  spec/controllers/insured/plan_shoppings_controller_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3091 43401
  app/models/family.rb
  app/models/hbx_enrollment.rb
  lib/tasks/hbx_reports/monthly_reports_sep.rake
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3092 42742
  components/benefit_sponsors/app/views/benefit_sponsors/shared/_person_staff_search.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3096 43165
  app/policies/family_policy.rb
  spec/policies/family_policy_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_User Story

#3097 43084
  app/policies/census_employee_policy.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3099 43318
  app/models/hbx_enrollment.rb
  spec/models/rule_set/hbx_enrollment/individual_market_verificiation_spec.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3100 43417
  components/benefit_sponsors/app/models/benefit_sponsors/sponsored_benefits/contribution_level.rb
  components/benefit_sponsors/app/models/benefit_sponsors/sponsored_benefits/sponsor_contribution.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3101 43128
  components/sponsored_benefits/app/models/sponsored_benefits/accounts/general_agency_account.rb
  components/sponsored_benefits/spec/dummy/app/models/general_agency_profile.rb
  components/sponsored_benefits/spec/factories/sponsored_benefits_accounts_general_agency_accounts.rb
  components/sponsored_benefits/spec/models/sponsored_benefits/accounts/general_agency_account_spec.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case
