Repository dchbx/enroll, pull requests merged in 2019-08, with the labels that each got.

#3120 43394
  db/seedfiles/dc/fixtures/contribution_model_5b747fe2e2402363abcb765e.yaml
  db/seedfiles/dc/fixtures/contribution_model_5c252fc6b79d505170d3b819.yaml
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3105 42874
  components/sponsored_benefits/app/views/sponsored_benefits/organizations/general_agency_profiles/_index.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3108 43041
  app/views/insured/families/_apply_for_medicaid_widget.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3123 43466
  components/benefit_sponsors/app/helpers/benefit_sponsors/application_helper.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3107 43351
  app/views/ui-components/v1/cards/_dental_sponsor_contributions.html.slim
  app/views/ui-components/v1/cards/_sponsor_contributions.html.slim
Labels: Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3122 43197
  app/assets/fonts/glyphicons-halflings-regular.eot
  app/assets/fonts/glyphicons-halflings-regular.svg
  app/assets/fonts/glyphicons-halflings-regular.ttf
  app/assets/fonts/glyphicons-halflings-regular.woff
  app/assets/fonts/glyphicons-halflings-regular.woff2
  app/assets/stylesheets/glyphicons.scss.erb
  app/assets/stylesheets/main.scss.erb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#3093 43344
  app/helpers/insured/plan_filter_helper.rb
  spec/helpers/insured/plan_filter_helper_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3125 43475
  components/benefit_sponsors/app/views/benefit_sponsors/benefit_applications/benefit_applications/edit.html.slim
Labels: Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3118 43404
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_packages/benefit_package.rb
  components/benefit_sponsors/spec/models/benefit_sponsors/benefit_packages/benefit_package_spec.rb
Labels: Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3132 43049
  app/controllers/insured/families_controller.rb
  app/views/insured/group_selection/new.html.erb
  features/employee/employee_passive_renewal_update.feature
  features/step_definitions/new_hire_steps.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2865 42724
  components/notifier/app/assets/javascripts/notifier/ckeditor/config.js.erb
Labels: Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_User Story

#3104 43411
  components/notifier/app/models/notifier/notice_builder.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: Code Refactor

#3119 42052
  components/notifier/app/models/notifier/builders/consumer_role.rb
  components/notifier/app/models/notifier/merge_data_models/consumer_role.rb
  components/notifier/app/models/notifier/notice_builder.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: Bug

#3129 43045
  app/models/forms/bulk_actions_for_admin.rb
  app/models/hbx_enrollment.rb
  spec/controllers/exchanges/hbx_profiles_controller_spec.rb
Labels: Assignee: Functional Testing, Mergeable: Yes, Priority: 4-Normal, Status: Functional Testing, Tracker: App-Dev_Use Case

#3142 43474
  components/notifier/app/models/notifier/notice_builder.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: Bug

#3144 43545
  components/benefit_sponsors/app/views/benefit_sponsors/benefit_applications/benefit_applications/shared/_benefit_application_fields.html.slim
Labels: Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3143 43049
  app/models/hbx_enrollment.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3136 43483
  components/benefit_sponsors/app/views/benefit_sponsors/benefit_applications/benefit_applications/shared/_benefit_application_fields.html.slim
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3141 43398
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/employers/employer_staff_roles_controller.rb
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/_employer_form.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3137 43511
  app/models/unassisted_plan_cost_decorator.rb
  spec/models/unassisted_plan_cost_decorator_spec.rb
Labels: Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3133 43507
  script/general_agency_assignment_report.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3148 43284
  components/benefit_sponsors/app/controllers/benefit_sponsors/profiles/employers/employer_profiles_controller.rb
  components/benefit_sponsors/spec/dummy/app/models/user.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3121 43452
  app/models/benefit_group_assignment.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to UAT, Tracker: App-Dev_Use Case

#3114 43433
  app/models/rule_set/aca_ivl_product_eligibility_policy.rb
  spec/models/rule_set/aca_ivl_enrollment_product_policy_spec.rb
Labels: Priority: 4-Normal, Status: In Progress, Tracker: App-Dev_User Story

#3157 43539
  app/helpers/insured/plan_filter_helper.rb
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_packages/benefit_package.rb
  components/benefit_sponsors/spec/models/benefit_sponsors/benefit_packages/benefit_package_spec.rb
  spec/helpers/insured/plan_filter_helper_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3159 43599
  app/models/hbx_enrollment_list_sponsor_cost_calculator.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#3160 43600
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/_ee_roster_enrollment_termination.html.erb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3162 43598
  config/settings.yml
Labels: Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3150 43536
  components/benefit_sponsors/app/models/benefit_sponsors/model_events/benefit_application.rb
  components/benefit_sponsors/app/models/benefit_sponsors/observers/notice_observer.rb
  components/benefit_sponsors/app/models/benefit_sponsors/queries/notice_queries.rb
  components/benefit_sponsors/spec/models/benefit_sponsors/model_events/initial_employer_no_binder_payment_received_spec.rb
  config/settings.yml
Labels: Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3156 43583
  app/models/tax_household_member.rb
  spec/models/tax_household_member_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3171 43632
  components/benefit_sponsors/app/models/benefit_sponsors/sponsored_benefits/sponsored_benefit.rb
  components/benefit_sponsors/spec/models/benefit_sponsors/benefit_sponsorships/aca_shop_benefit_sponsorship_service_spec.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3170 43638
  components/benefit_sponsors/app/models/benefit_sponsors/benefit_sponsorships/benefit_sponsorship.rb
  components/benefit_sponsors/spec/models/benefit_sponsors/benefit_sponsorships/benefit_sponsorship_spec.rb
Labels: Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3172 43370
  app/views/shared/plan_shoppings/_provider_directory_url.html.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3167 43501
  app/models/group_selection_prevarication_adapter.rb
  app/views/insured/group_selection/_coverage_household.html.erb
  spec/views/insured/group_selection/new.html.erb_spec.rb
Labels: Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3173 42449
  app/assets/javascripts/ui-components/forms.js.erb
Labels: Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3174 43670
  lib/tasks/hbx_reports/employer_roster_report.rake
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Feature

#3175 43498
  app/models/special_enrollment_period.rb
  components/benefit_sponsors/spec/dummy/app/models/special_enrollment_period.rb
  spec/models/special_enrollment_period_spec.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3176 43407
  project_gems/effective_datatables-2.6.14/app/assets/javascripts/effective_datatables/bulk_actions.js.coffee
Labels: Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3177 43622
  app/assets/stylesheets/insured.scss.erb
  config/settings.yml
Labels: Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3178 43621
  app/assets/stylesheets/application.scss.erb
  app/views/hbx_admin/_edit_aptc_csr_active_enrollment.html.erb
  app/views/hbx_admin/_edit_aptc_csr_no_enrollment.html.erb
Labels: Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3179 43623
  components/notifier/app/models/notifier/notice_builder.rb
  components/notifier/app/models/notifier/notice_kind.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3182 43678
  components/benefit_sponsors/app/models/benefit_sponsors/queries/general_agency_families_query.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3185 42591
  db/seedfiles/dc/fixtures/contribution_model_5b747fe2e2402363abcb765e.yaml
Labels: Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3183 43685
  components/benefit_sponsors/app/views/benefit_sponsors/benefit_packages/benefit_packages/_form.html.slim
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3158 37648
  lib/tasks/hbx_reports/employer_roster_report.rake
Labels: Priority: 3-High, Status: Pending Deployment, Tracker: Support

#3181 43596
  app/models/address.rb
  app/models/assister_role.rb
  app/models/broker_agency_staff_role.rb
  app/models/broker_role.rb
  app/models/concerns/legacy_versioning_records.rb
  app/models/csr_role.rb
  app/models/email.rb
  app/models/employee_role.rb
  app/models/employer_staff_role.rb
  app/models/general_agency_staff_role.rb
  app/models/hbx_staff_role.rb
  app/models/individual_market_transition.rb
  app/models/person.rb
  app/models/person_relationship.rb
  app/models/phone.rb
  app/models/resident_role.rb
  app/models/verification_type.rb
  spec/models/concerns/legacy_versioning_records_spec.rb
  spec/models/person_versioning_spec.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#3190 43684
  components/benefit_sponsors/app/views/benefit_sponsors/sponsored_benefits/sponsored_benefits/edit.html.slim
  components/benefit_sponsors/app/views/benefit_sponsors/sponsored_benefits/sponsored_benefits/new.html.slim
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3189 43625
  app/assets/stylesheets/_variables.scss.erb
Labels: Mergeable: Yes, Priority: 3-High, Status: Peer Review, Tracker: App-Dev_Use Case

#3187 42647
  components/benefit_sponsors/app/models/benefit_sponsors/forms/benefit_application_form.rb
  components/benefit_sponsors/app/models/benefit_sponsors/services/benefit_application_service.rb
  components/benefit_sponsors/app/views/benefit_sponsors/benefit_applications/benefit_applications/shared/_benefit_application_fields.html.slim
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3193 43720
  app/models/hbx_enrollment.rb
  spec/models/hbx_enrollment_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3195 43675
  components/benefit_sponsors/app/helpers/benefit_sponsors/application_helper.rb
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3186 43691
  components/benefit_sponsors/app/models/benefit_sponsors/sponsored_benefits/contribution_level.rb
  db/seedfiles/dc/fixtures/contribution_model_5c252fc6b79d505170d3b819.yaml
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3202 42647
  components/benefit_sponsors/app/views/benefit_sponsors/benefit_applications/benefit_applications/shared/_benefit_application_fields.html.slim
Labels: Mergeable: Yes, Priority: 3-High, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3203 43748
  app/models/hbx_enrollment.rb
  spec/models/hbx_enrollment_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3201 43741
  app/models/hbx_enrollment.rb
  spec/models/hbx_enrollment_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3204 43755
  app/mailers/user_mailer.rb
  app/views/ui-components/v1/cards/_employer_broker_widget.html.slim
  app/views/user_mailer/broker_pending_completed_training_missing_carrier.html.erb
  app/views/user_mailer/broker_pending_missing_training_and_carrier.html.erb
  app/views/user_mailer/broker_pending_missing_training_completed_carrier.html.erb
  app/views/user_mailer/initial_employee_invitation_email.html.erb
  app/views/user_mailer/invite_future_employee_for_open_enrollment.html.erb
  config/settings.yml
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#3207 43777
  components/benefit_sponsors/app/models/benefit_sponsors/organizations/organization.rb
  components/benefit_sponsors/app/models/benefit_sponsors/serializers/organization_serializer.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: BA Review, Tracker: App-Dev_Use Case

#3224 43871
  app/policies/census_employee_policy.rb
  spec/policies/census_employee_policy_spec.rb
Labels: Mergeable: Yes, Priority: 1-Immediate, Status: Accepted Pending Release, Tracker: Support

#3225 44700
  app/helpers/time_helper.rb
  spec/helpers/time_helper_spec.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Accepted Pending Release, Tracker: Support
