Repository dchbx/enroll, pull requests merged in 2019-04, with the labels that each got.

#2647 40721
  components/notifier/app/models/notifier/builders/consumer_role.rb
  components/notifier/app/models/notifier/services/dependent_service.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Feature

#2642 40464
  spec/models/eligibility_determination_spec.rb
Labels: Priority: Normal, Status: Peer Review, Tracker: App-Dev_Feature

#2658 40844
  app/models/financial_assistance/factories/assistance_factory.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_User Story

#2655 40788
  app/controllers/financial_assistance/applications_controller.rb
  spec/controllers/financial_asistance/applications_controller_spec.rb
  spec/models/family_member_spec.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2634 40356
  app/controllers/application_controller.rb
  app/controllers/financial_assistance/applicants_controller.rb
  app/controllers/financial_assistance/applications_controller.rb
  app/controllers/financial_assistance/benefits_controller.rb
  app/controllers/financial_assistance/deductions_controller.rb
  app/controllers/financial_assistance/incomes_controller.rb
  app/controllers/insured/consumer_roles_controller.rb
  app/views/insured/consumer_roles/upload_ridp_document.html.haml
  app/views/insured/interactive_identity_verifications/failed_validation.html.haml
  app/views/insured/interactive_identity_verifications/service_unavailable.html.haml
  features/insured/individual_ridp_verification.feature
  features/step_definitions/individual_ridp_verification_steps.rb
  spec/controllers/insured/consumer_roles_controller_spec.rb
Labels: Priority: Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2656 40636
  app/views/insured/family_members/_dependent_form.html.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#2651 40777
  app/views/insured/families/verification/_verification.html.erb
Labels: Mergeable: Yes, Priority: High, Status: Promote to Test Environment, Tracker: App-Dev_User Story

#2661 40866
  features/financial_assistance/review_applications.feature
  features/financial_assistance/step_definitions/review_your_application_page_steps.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2666 40777
  app/views/insured/families/verification/_verification.html.erb
Labels: Mergeable: Yes, Priority: High, Status: Peer Review, Tracker: App-Dev_User Story

#2669 41480
  app/controllers/financial_assistance/applications_controller.rb
  config/settings.yml
Labels: Mergeable: Yes, Priority: Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2664 40874
  app/controllers/financial_assistance/applications_controller.rb
  app/models/financial_assistance/application.rb
  app/models/financial_assistance/factories/application_factory.rb
  app/models/financial_assistance/services/application_service.rb
  app/models/forms/family_member.rb
  spec/models/financial_assistance/applicant_spec.rb
  spec/models/financial_assistance/application_spec.rb
  spec/models/financial_assistance/factories/application_factory_spec.rb
  spec/models/financial_assistance/services/application_service_spec.rb
  spec/support/application_shared_examples.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2665 40828
  app/data_migrations/define_permissions.rb
  app/models/permission.rb
  spec/data_migrations/permissions_spec.rb
  spec/factories/permission.rb
Labels: Mergeable: No, Priority: Normal, Status: Accepted Pending Release, Tracker: App-Dev_Feature

#2673 40721
  app/views/notices/shared/footer_ivl.html.erb
  components/notifier/app/helpers/notifier/consumer_role_helper.rb
  components/notifier/app/helpers/notifier/verification_helper.rb
  components/notifier/app/models/notifier/application_event_mapper.rb
  components/notifier/app/models/notifier/builders/consumer_role.rb
  components/notifier/app/models/notifier/merge_data_models/consumer_role.rb
  components/notifier/app/models/notifier/merge_data_models/dependent.rb
  components/notifier/app/models/notifier/notice_builder.rb
  components/notifier/app/models/notifier/services/dependent_service.rb
  components/notifier/app/views/layouts/notifier/_dc_cover_page.html.erb
  components/notifier/app/views/layouts/notifier/_dc_ivl_address.html.erb
  components/notifier/app/views/layouts/notifier/_dc_shop_address.html.erb
  components/notifier/spec/models/notifier/builders/consumer_role_spec.rb
  script/projected_eligibility_notice_1.rb
  script/projected_eligibility_notice_2.rb
  spec/script/projected_eligibility_notice_1_spec.rb
  spec/script/projected_eligibility_notice_2_spec.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#2630 40291
  app/data_migrations/change_enrollment_details.rb
Labels: Priority: High, Status: Pending Deployment, Tracker: Bug

#2698 41666
  app/views/broker_agencies/broker_roles/_existing_broker_agency_form.html.erb
  app/views/broker_agencies/broker_roles/_search_broker_agency.html.erb
  db/seedfiles/translations/en/broker_agencies.rb
  features/step_definitions/broker_staff_steps.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2706 40034
  app/views/financial_assistance/benefits/index.html.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2708 41716
  app/views/insured/plan_shoppings/_plan_details.html.erb
Labels: Mergeable: Yes, Priority: Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#2707 40776
  app/views/shared/_address_fields_for_dependent.html.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2713 41785
  app/assets/stylesheets/custom.scss.erb
Labels: Priority: Immediate, Status: Pending Deployment, Tracker: Support
