Repository dchbx/enroll, pull requests merged in 2019-03, with the labels that each got.

#2577 40094
  app/data_migrations/change_applied_aptc_amount.rb
  spec/data_migrations/change_applied_aptc_amount_spec.rb
Labels: Priority: Urgent, Status: Pending Deployment, Tracker: Bug

#2599 39356
  app/views/insured/consumer_roles/_form.html.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Promote to Test Environment, Tracker: Code Refactor

#2597 38537
  app/views/insured/families/_consumer_brokers_widget.html.erb
Labels: Priority: Normal, Status: Pending Deployment, Tracker: Data

#2601 39372
  app/views/insured/consumer_roles/ridp_agreement.html.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: Code Refactor

#2602 39951
  app/views/insured/consumer_roles/docs_shared/_citizenship_number.html.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2611 40385
  app/controllers/employers/plan_years_controller.rb
  app/controllers/invitations_controller.rb
  app/helpers/portal_header_helper.rb
  app/mailers/user_mailer.rb
  app/models/invitation.rb
  app/views/shared/_my_portal_links.html.erb
  app/views/user_mailer/broker_staff_invitation_email.html.erb
  spec/controllers/employers/plan_years_controller_spec.rb
  spec/controllers/invitations_controller_spec.rb
  spec/helpers/portal_header_helper_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/views/shared/my_portal_links.html.erb_spec.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#2606 40329
  components/notifier/app/models/notifier/builders/consumer_role.rb
  components/notifier/app/models/notifier/services/dependent_service.rb
  components/notifier/spec/models/notifier/builders/consumer_role_spec.rb
  components/notifier/spec/models/notifier/builders/dependent_service_spec.rb
  script/projected_eligibility_notice_1.rb
  script/projected_eligibility_notice_2.rb
  spec/script/projected_elibility_notice_2_spec.rb
  spec/script/projected_eligibility_notice_1_spec.rb
  spec/test_data/notices/proj_elig_report_aqhp_2019_test_data.csv
  spec/test_data/notices/proj_elig_report_uqhp_2019_test_data.csv
Labels: Mergeable: Yes, Priority: Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2613 39914
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/broker_agency_profiles_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_organizations_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals/carriers_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals/plan_selections_controller.rb
  components/sponsored_benefits/app/controllers/sponsored_benefits/organizations/plan_design_proposals_controller.rb
Labels: Assignee: Prem Shaganti, Mergeable: Yes, Priority: Immediate, Status: Peer Review, Tracker: App-Dev_User Story

#2612 40388
  components/notifier/app/models/notifier/builders/consumer_role.rb
  components/notifier/app/models/notifier/notice_kind.rb
  components/notifier/app/views/notifier/notice_kinds/ivl_template.html.erb
  spec/test_data/notices/proj_elig_report_uqhp_2019_test_data.csv
Labels: Assignee: Jaya Chandra, Mergeable: Yes, Priority: Normal, Status: In Progress, Tracker: App-Dev_Use Case

#2610 37874
  app/controllers/employers/census_employees_controller.rb
Labels: Priority: Normal, Status: Pending Deployment, Tracker: Bug

#2632 40465
  app/models/household.rb
  spec/models/household_spec.rb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Feature

#2607 40184
  app/views/insured/consumer_roles/privacy.html.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2609 40014
  app/assets/stylesheets/glossary.css
Labels: Mergeable: Yes, Priority: Normal, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#2614 40185
  app/views/insured/families/verification/_verification.html.erb
  app/views/insured/interactive_identity_verifications/_outstanding_ridp_documents.html.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2638 40517
  components/notifier/app/models/notifier/notice_builder.rb
  components/notifier/app/views/layouts/notifier/_dc_cover_page.html.erb
  components/notifier/app/views/layouts/notifier/ivl_pdf_layout.html.erb
  config/settings.yml
Labels: Mergeable: Yes, Priority: Immediate, Status: Peer Review, Tracker: App-Dev_Use Case

#2640 40533
  components/notifier/app/models/notifier/services/individual_notice_service.rb
  config/settings.yml
Labels: Priority: Normal, Status: Peer Review, Tracker: App-Dev_Use Case
