Repository dchbx/enroll, pull requests merged in 2019-05, with the labels that each got.

#2691 41608
  app/data_migrations/define_permissions.rb
  spec/data_migrations/permissions_spec.rb
  spec/policies/hbx_profile_policy_spec.rb
Labels: Priority: Immediate, Status: Pending Deployment, Tracker: App-Dev_Feature

#2723 41844
  app/assets/stylesheets/fa_income.scss.erb
  app/views/financial_assistance/applicants/other_questions.html.erb
  app/views/financial_assistance/benefits/index.html.erb
  app/views/financial_assistance/deductions/index.html.erb
  app/views/financial_assistance/incomes/index.html.erb
  app/views/financial_assistance/incomes/other.html.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_User Story

#2726 41877
  app/data_migrations/add_broker_agency_staff_role_for_broker.rb
  lib/tasks/migrations/add_broker_agency_staff_role_for_broker.rake
  spec/data_migrations/add_broker_agency_staff_role_for_broker_spec.rb
Labels: Priority: Normal, Status: Pending Deployment, Tracker: Data

#2709 41757
  app/views/insured/family_members/new.js.erb
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2683 38361
  config/settings.yml
Labels: Mergeable: Yes, Priority: Normal, Status: Peer Review, Tracker: App-Dev_Feature

#2586 40210
  app/data_migrations/activate_family_member.rb
  lib/tasks/migrations/activate_family_member.rake
  spec/data_migrations/app/activate_family_member_spec.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Accepted Pending Release, Tracker: Data

#2757 41986
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/helpers/application_helper.rb
  app/javascript/controllers/signup_controller.js
  app/javascript/css/main.scss
  app/javascript/css/theme.scss
  app/javascript/css/variables.scss
  app/views/devise/passwords/new.html.erb
  app/views/devise/passwords/new.html.slim
  app/views/devise/registrations/new.html.erb
  app/views/devise/registrations/new.html.slim
  app/views/devise/sessions/new.html.erb
  app/views/devise/sessions/new.html.slim
  app/views/devise/shared/_links.html.erb
  app/views/ui-components/bs4/v1/footers/_footer.slim
  app/views/ui-components/bs4/v1/navs/_header.slim
  features/general_agencies/step_definitions/ga_steps.rb
  features/step_definitions/integration_steps.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: In Progress, Tracker: App-Dev_Feature

#2754 41783
  app/views/insured/families/personal.js.erb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Promote to Test Environment, Tracker: App-Dev_Feature

#2743 41906
  app/helpers/portal_header_helper.rb
  spec/helpers/portal_header_helper_spec.rb
Labels: Priority: 2-Urgent, Status: Pending Deployment, Tracker: Bug

#2714 41807
  app/controllers/exchanges/residents_controller.rb
  app/views/insured/family_members/_dependent_resident_form.html.erb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2763 42065
  spec/views/insured/families/_shop_for_plans_widget.html.erb_spec.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2727 41876
  lib/tasks/hbx_reports/broker_without_broker_staff_role.rake
Labels: Priority: 3-High, Status: Pending Deployment, Tracker: Support

#2779 42237
  app/views/insured/families/_enrollment.html.erb
Labels: Priority: 1-Immediate, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2780 42155
  app/views/insured/consumer_roles/docs_shared/_alien_number.html.erb
  app/views/insured/consumer_roles/docs_shared/_card_number.html.erb
  app/views/insured/consumer_roles/docs_shared/_citizenship_number.html.erb
  app/views/insured/consumer_roles/docs_shared/_i_94_number.html.erb
  app/views/insured/consumer_roles/docs_shared/_naturalization_number.html.erb
  app/views/insured/consumer_roles/docs_shared/_passport_number.html.erb
  app/views/insured/consumer_roles/docs_shared/_servis_id.html.erb
  app/views/insured/consumer_roles/docs_shared/_visa_number.html.erb
  app/views/insured/consumer_roles/docs_shared/_vlp_doc_requirements.html.erb
  db/seedfiles/translations/en/insured.rb
Labels: Mergeable: Yes, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#2772 42189
  app/models/benefit_coverage_period.rb
  app/models/tax_household.rb
  components/benefit_markets/app/models/benefit_markets/forms/product_form.rb
  components/benefit_markets/app/models/benefit_markets/products/health_products/health_product.rb
  components/benefit_markets/app/models/benefit_markets/products/product.rb
  components/benefit_markets/app/models/benefit_markets/products/product_factory.rb
  components/benefit_markets/spec/models/benefit_markets/products/product_factory_spec.rb
  spec/models/benefit_coverage_period_spec.rb
  spec/models/tax_household_spec.rb
Labels: Mergeable: Yes, Priority: 4-Normal, Status: Peer Review, Tracker: App-Dev_Use Case

#2774 42231
  components/benefit_sponsors/app/views/benefit_sponsors/profiles/employers/employer_profiles/_upload_employee_roster.html.erb
Labels: Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case
